<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:name=".MyApp"
    android:usesCleartextTraffic="true">
    <activity android:name=".DetailsActivity" />
    <activity android:name=".HelloActivity" />
    <activity android:name=".HelloActivityNew" />
    <activity android:name=".CustomListViewActivity" />
  </application>
</manifest>
